services:
  airdrive-cpu: &airdrive_common
    profiles: ["cpu"]
    build:
      context: .
      dockerfile: Dockerfile.cpu
    privileged: true
    device_cgroup_rules:
      - "c 81:* rmw" # /dev/video* for camera access
    devices:
      - /dev/video0:/dev/video0
      - /dev/uinput:/dev/uinput
    environment:
      - DISPLAY=${DISPLAY}
      - SDL_VIDEODRIVER=x11
      - QT_X11_NO_MITSHM=1
      - CONTROLLER=${CONTROLLER:-off}
      - MPLCONFIGDIR=/tmp/matplotlib
    user: "${UID:-1000}:${GID:-1000}"
    group_add:
      - video
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ./calibration:/app/calibration

  airdrive-gpu:
    <<: *airdrive_common
    profiles: ["gpu"]
    build:
      context: .
      dockerfile: Dockerfile.gpu
    environment:
      - DISPLAY=${DISPLAY}
      - SDL_VIDEODRIVER=x11
      - QT_X11_NO_MITSHM=1
      - CONTROLLER=${CONTROLLER:-off}
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility
    runtime: nvidia
